<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
      <div class="card text-center">
          <div class="card-header">
            Header
          </div>  
      </div>
      <div class="acme-row-bottom">
          <h5>
              ACME Offer - New Application
          </h5>
      </div>
    <router-outlet></router-outlet>
  </div>
</body>
