
<form [formGroup]="appFg">
<div class="container">
    <div class="row acme-pad">
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>Country of residence</div>
        <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 acme-red' 
        *ngIf="(appFg.get('country').touched || appFg.get('country').dirty )&& appFg.get('country').invalid">*</div>
        <div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 acme-comp'>
            <select formControlName="country">
                    <option *ngFor="let _country of countries" [value]="_country.id">
                            {{_country.country}}
                    </option>
            </select>
        </div>
    </div>
    <div *ngIf="isCountryValid">
            <div class="row acme-pad">
                    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>State</div>
                    <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 acme-red'
                    *ngIf="(appFg.get('state').touched || appFg.get('state').dirty )&& appFg.get('state').invalid">*</div>
                    <div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 acme-comp'>
                        <select formControlName="state">
                                <option *ngFor="let _state of states" [value]="_state">
                                        {{_state}}
                                </option>
                        </select>
                    </div>
            </div>
            <div class="row acme-pad">
                    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>Postcode</div>
                    <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 acme-red'
                    *ngIf="(appFg.get('pcode').touched || appFg.get('pcode').dirty )&& appFg.get('pcode').invalid">*</div>
                    <div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 acme-comp'>
                        <select formControlName="pcode">
                                <option *ngFor="let _pcode of pcodes" [value]="_pcode.postcode">
                                        {{_pcode.id}}
                                </option>
                        </select>
                    </div>
            </div>
    </div>
    <div class="row acme-pad">
            <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>Full Name</div>
            <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 acme-red'
            *ngIf="(appFg.get('fname').touched || appFg.get('fname').dirty )&& appFg.get('fname').invalid">*</div>
            <div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 acme-comp'>
                <input formControlName="fname"/>
            </div>
    </div>
    
</div>
<div class="acme-row-top acme-pad">
        <button [disabled]="!appFg.valid" (click)='onSubmit()' href="#" class="btn btn-primary">Submit</button>
</div>

</form>
