/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.acme-row-bottom{
  border-bottom: 2px solid gray !important;
  padding: 5px;
  padding-top: 10px !important;
}

  .acme-row-top{
      border-top: 2px solid gray !important;
      padding: 5px;
      padding-top: 10px !important;
  }
